!!! 5
%html
  %head
  %title yet another jobs aggregator
  %link{:href => "http://fonts.googleapis.com/css?family=Varela Round", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "styles_1.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS",  :href => "/rss"}
  %script{:type => "text/javascript", :src  => "//ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"}
  %script{:type => "text/javascript", :src  => "app.js"}
  
  %body
    %a{:href => "http://github.com/karlseguin/jobs.openmymind.net"}
      %img{:id => "fork", :src => "https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", :alt => "Fork me on GitHub"}
    #content
      #jobs
        - previous_date = nil
        - @jobs.each do |job|
          - if previous_date == nil || job['created_at'].strftime('%y%m%d') != previous_date
            - previous_date = job['created_at'].strftime('%y%m%d')
            .date= job['created_at'].strftime('%B %d, %Y')
          .job{'data-url' => job['url']}
            .summary
              %span.title= job['title']
              %span.location= job['location'].is_a?(Array) ? job['location'].join(', ') : job['location']
            .desc
              .details
                %span.date=job['created_at'].strftime('%B %d, %Y %H:%M')
                %span.url
                  %a{:href => job['url']}=job['url']
              %span= job['description']