!!! 5
%html
  %head
  %title yet another jobs aggregator
  %link{:href => "http://fonts.googleapis.com/css?family=Varela Round", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "styles_1.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS",  :href => "/rss"}
  %script{:type => "text/javascript", :src  => "//ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"}
  %script{:type => "text/javascript", :src  => "app.js"}
  
  %body
    #content
      #jobs
        - previous_date = nil
        - @jobs.each do |job|
          - if previous_date == nil || job['created_at'].strftime('%y%m%d') != previous_date
            - previous_date = job['created_at'].strftime('%y%m%d')
            .date= job['created_at'].strftime('%B %d, %Y')
          .job{'data-url' => job['url']}
            .summary
              %span.title= job['title']
              %span.location= job['location'].is_a?(Array) ? job['location'].join(', ') : job['location']
            .desc
              .details
                %span.date=job['created_at'].strftime('%B %d, %Y %H:%M')
                %span.url
                  %a{:href => job['url']}=job['url']
              %span= job['description']